---
import { CardHeros } from "@components/Home/heros-card";
import { CardTargets } from "./targets-card";
import Magic from "@icons/magic_wand.svg"
import Ball from "@icons/ball.svg"
import Trophy from "@icons/trophy.svg"

const targetsData = [
  {
    title: "50K+",
    subtitle: "Cartas disponibles",
  },
  {
    title: "5K+",
    subtitle: "Duelistas activos",
  },
  {
    title: "98%",
    subtitle: "Satisfacción",
  },
]

const optionsData = [
  {
    icon: Ball,
    title: "Pokémon",
    variant: "pokemon",
  },
  {
    icon: Trophy,
    title: "Yu-Gi-Oh!",
    variant: "yugioh",
  },
  {
    icon: Magic,
    title: "Magic MTG",
    variant: "mtg",
  },
  {
    icon: Ball,
    title: "Dragon Ball",
    variant: "db",
  },
];
---

<section class="hero">
  <div class="hero__container">
    <div class="hero__information">
      <div class="hero__titles">
        <h1 class="hero__title">
          ¡Tu tienda <span class="hero__span">TCG</span> en México!
        </h1>
        <p class="hero__text">
          Compra,vende e intercambia cartas Pokémon, Yu-Gi-Oh!, MTG y mas con la
          comunidad mas grande de México.
        </p>
      </div>

      <div class="hero__buttons">
        <button class="hero__button-explore">Explorar Cartas</button>
        <button class="hero__button-catalog">Ver Catálogo</button>
      </div>

      <div class="hero__targets">
        {targetsData.map((card) => <CardTargets {...card} />)}
      </div>
    </div>

    <div class="hero__options">
      <div class="hero__options-container">
        {optionsData.map((card) => <CardHeros {...card} />)}
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @reference '@styles/global';

  .hero {
    @apply w-full font-sans;

    &__container {
      @apply grid grid-cols-1 md:grid-cols-2 gap-5 px-10 md:px-20 bg-[url('../src/assets/images/home/bg.png')] bg-cover bg-indigo-700;
    }

    &__information {
      @apply w-full h-fit text-text py-10 md:py-20;
    }

    &__title {
      @apply text-5xl md:text-6xl font-[1000] mb-6 transform hover:rotate-[360deg] transition-transform duration-900;
    }

    &__span {
      @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-400 via-orange-400 to-orange-600 transform hover:text-text;
    }

    &__text {
      @apply text-2xl mb-6 font-[545];
    }

    &__buttons {
      @apply gap-8 mb-12;
    }

    &__button-explore {
      @apply mb-4 bg-gradient-to-r from-orange-400 to-orange-600  text-text font-bold py-4 px-10 rounded-4xl transform hover:scale-105 hover:from-bg1-db hover:to-bg2-pokemon cursor-pointer;
    }

    &__button-catalog {
      @apply rounded-4xl py-4 px-10 ml-4 bg-transparent border-2 border-white text-white font-bold hover:bg-text hover:text-black transition duration-300 transform hover:scale-105 cursor-pointer;
    }

    &__targets {
      @apply flex md:gap-5;
    }

    &__options {
      @apply py-10 md:py-45 px-4;
    }

    &__options-container{
      @apply  text-text grid grid-cols-1 md:grid-cols-2 rounded-2xl border-1 border-gray-400 gap-4 p-8  bg-white/20 backdrop-blur-md;
    }
  }
</style>
