
<section class="Hero">
    <div class="hero__container">
        <div class="hero__information">
            <div class="hero__titles">
                <h1 class="hero__title">¡Tu tienda <span class="hero__span">TCG</span> en México!</h1>
                <p class="hero__text">Compra,vende e intercambia cartas Pokémon, Yu-Gi-Oh!, MTG 
                    y mas con la comunidad mas grande de México.
                </p>
            </div>
            <div class="hero__buttons">
                <button class="hero__button1">
                    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 20 20"><path fill="currentColor" d="m17.545 15.467l-3.779-3.779a6.15 6.15 0 0 0 .898-3.21c0-3.417-2.961-6.377-6.378-6.377A6.185 6.185 0 0 0 2.1 8.287c0 3.416 2.961 6.377 6.377 6.377a6.15 6.15 0 0 0 3.115-.844l3.799 3.801a.953.953 0 0 0 1.346 0l.943-.943c.371-.371.236-.84-.135-1.211M4.004 8.287a4.28 4.28 0 0 1 4.282-4.283c2.366 0 4.474 2.107 4.474 4.474a4.284 4.284 0 0 1-4.283 4.283c-2.366-.001-4.473-2.109-4.473-4.474"/></svg> -->
                    Explorar Cartas
                </button>
                <button class="hero__button2">Ver Catálogo</button>
            </div>
            <div class="hero__targets">
                <div class="hero__target">
                    <h1 class="hero__title-target">50K+</h1>
                    <h2 class="hero__subtitle-target">Cartas disponibles</h2>
                </div>
                <div class="hero__target">
                    <h1 class="hero__title-target">5K+</h1>
                    <h2 class="hero__subtitle-target">Duelistas activos</h2>
                </div>
                <div class="hero__target">
                    <h1 class="hero__title-target">98%</h1>
                    <h2 class="hero__subtitle-target">Satisfacción</h2>
                </div>
            </div>
        </div>

        <div class="hero__options">
            <div class="hero__options-container">
                <div class="hero__option hero__option--pokemon">
                    <div class="hero__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24"><g fill="none"><path d="m12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035q-.016-.005-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093q.019.005.029-.008l.004-.014l-.034-.614q-.005-.018-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M10.92 2.868a1.25 1.25 0 0 1 2.16 0l2.795 4.798l5.428 1.176a1.25 1.25 0 0 1 .667 2.054l-3.7 4.141l.56 5.525a1.25 1.25 0 0 1-1.748 1.27L12 19.592l-5.082 2.24a1.25 1.25 0 0 1-1.748-1.27l.56-5.525l-3.7-4.14a1.25 1.25 0 0 1 .667-2.055l5.428-1.176z"/></g></svg>
                    </div>
                    <h1 class="hero__text-option">Pokémon</h1>
                </div>
                <div class="hero__option hero__option--yugioh">
                    <div class="hero__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 640 512"><path fill="currentColor" d="M18.32 255.78L192 223.96l-91.28 68.69c-10.08 10.08-2.94 27.31 11.31 27.31h222.7c-9.44-26.4-14.73-54.47-14.73-83.38v-42.27l-119.73-87.6c-23.82-15.88-55.29-14.01-77.06 4.59L5.81 227.64c-12.38 10.33-3.45 30.42 12.51 28.14m556.87 34.1l-100.66-50.31A47.99 47.99 0 0 1 448 196.65v-36.69h64l28.09 22.63c6 6 14.14 9.37 22.63 9.37h30.97a32 32 0 0 0 28.62-17.69l14.31-28.62a32 32 0 0 0-3.02-33.51l-74.53-99.38C553.02 4.7 543.54 0 533.47 0H296.02c-7.13 0-10.7 8.57-5.66 13.61L352 63.96L292.42 88.8c-5.9 2.95-5.9 11.36 0 14.31L352 127.96v108.62c0 72.08 36.03 139.39 96 179.38c-195.59 6.81-344.56 41.01-434.1 60.91C5.78 478.67 0 485.88 0 494.2C0 504 7.95 512 17.76 512h499.08c63.29.01 119.61-47.56 122.99-110.76c2.52-47.28-22.73-90.4-64.64-111.36M489.18 66.25l45.65 11.41c-2.75 10.91-12.47 18.89-24.13 18.26c-12.96-.71-25.85-12.53-21.52-29.67"/></svg>
                    </div>
                    <h1 class="hero__text-option">Yu-Gi-Oh!</h1>
                </div>
                <div class="hero__option hero__option--mtg">
                    <div class="hero__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 512 512"><path fill="currentColor" d="M14.1 463.3c-18.7-18.7-18.7-49.1 0-67.9L395.4 14.1c18.7-18.7 49.1-18.7 67.9 0l34.6 34.6c18.7 18.7 18.7 49.1 0 67.9L116.5 497.9c-18.7 18.7-49.1 18.7-67.9 0zm333.5-275.7l105-105l-23.2-23.3l-105 105l23.3 23.3z"/></svg>
                    </div>
                    <h1 class="hero__text-option">Magic MTG</h1>
                </div>
                <div class="hero__option hero__option--db">
                    <div class="hero__icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 36 36"><path fill="currentColor" d="M31.3 16.32c-1.19-2.09-7.94-14.15-7.94-14.15a1 1 0 0 0-1.75 0l-6 10.64l-3-5.28a1 1 0 0 0-1.75 0s-5.46 9.9-6.44 11.62A9.3 9.3 0 0 0 3 24.26c0 5.11 3.88 9.65 8.67 9.74h10.81C28.28 34 33 28.62 33 22.44a11.13 11.13 0 0 0-1.7-6.12M21.48 32h-6.94A4.68 4.68 0 0 1 10 27.41a3.9 3.9 0 0 1 .75-2.34l3.35-5.21a.5.5 0 0 1 .84 0l1.78 2.77v-.08c.63-1.11 4.23-7.48 4.23-7.48a.5.5 0 0 1 .87 0s3.6 6.38 4.23 7.48a5.83 5.83 0 0 1 .95 3.21C27 32 22.1 32 21.48 32" class="clr-i-solid clr-i-solid-path-1"/><path fill="none" d="M0 0h36v36H0z"/></svg>
                    </div>
                    <h1 class="hero__text-option">Dragon Ball</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<style lang="scss">
  @reference '@styles/global';

  .hero{
	@apply w-full font-sans;

	&__container{
		@apply grid 
        grid-cols-1 
        md:grid-cols-2 
        gap-5 
        px-20 
        bg-[url('../src/assets/images/home/bg.png')] 
        bg-cover 
        bg-indigo-700;
	}

	&__information{
		@apply w-full h-fit text-text py-20;
	}
    
    &__title{
        @apply text-6xl font-[1000] mb-6;
    }

    &__span{
        @apply text-transparent bg-clip-text bg-gradient-to-r from-orange-400 via-orange-400 to-orange-600;
    }

    &__text{
        @apply text-2xl mb-6 font-[545] ;
    }

    &__buttons{
        @apply gap-8 mb-12;
    }

    &__button1{
        @apply bg-gradient-to-r from-orange-400 to-orange-600  text-text font-bold py-4 px-10 rounded-4xl;
    }

    &__button2{
        @apply rounded-4xl py-4 px-10 ml-4 bg-transparent border-2 border-white text-white font-bold hover:bg-text hover:text-black transition duration-300 transform hover:scale-105;
    }

    &__targets{
        @apply flex md:gap-5;
    }

    &__target{
        @apply text-center;
    }

    &__title-target{
        @apply text-amber-400 text-2xl font-bold;
    }

    &__subtitle-target{
        @apply text-sm font-[550];
    }

    &__options{
        @apply py-45 px-4;
    }
    
    &__options-container{
        @apply  text-text grid grid-cols-1 md:grid-cols-2 rounded-2xl border-1 border-gray-400 gap-4 p-8  bg-white/20 backdrop-blur-md;
    }

    &__option{
        @apply text-center rounded-lg py-4 bg-gradient-to-r;

        &--pokemon{
            @apply from-indigo-500 to-indigo-700 ;
        }
        &--yugioh{
            @apply from-purple-500 to-pink-500;
        }
        &--mtg{
            @apply from-green-500 to-blue-500;
        }
        &--db{
            @apply from-orange-400 to-orange-600;
        }

    }


    &__icon{
        @apply  flex justify-center;
    }

    &__text-option{
        @apply mt-2 font-bold;
    }
  }
</style>
