---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
    icon: ImageMetadata;
    title: String;
    text: String;
    variant?: 'car' | 'money' | 'hands' | 'star';
}

const { icon, title, text, variant} = Astro.props

const variantClasses: Record<string, string> = {
  car: 'bg-car',
  money: 'bg-money',
  hands: 'bg-hands',
  star: 'bg-star',
};

const gradientClass = variant ? variantClasses[variant] : undefined;
---

<article class="why">
    <div class="why__option-container">
        <div class="why__option-icon" class:list={[gradientClass]}>
            <Image  src={icon} alt="icon"/>
        </div>
        <div class="why__option-information">
            <h1 class="why__option-title">{title}</h1>
            <p class="why__option-text">{text}</p>
        </div>
    </div>
</article>

<style lang="scss">
    @reference '@styles/global';

    .why{

        &__option-container{
            @apply grid md:grid-cols-[1fr_7fr] mb-6;
        }

        &__option-icon{
            @apply relative rounded-full h-fit w-fit p-4 flex items-center justify-center;
        }

        &__option-title{
            @apply text-xl font-bold mb-2;
        }

        &__option-text{
            @apply text-base text-subtitle;
        }
    }
</style>